<div class="col-lg-9 control-section">
    <ejs-treegrid #treegrid [dataSource]='data' allowPaging='true' height='350' allowFiltering='true' [pageSettings]='pageSettings' [filterSettings]='filterSettings' childMapping='subtasks' [treeColumnIndex]='1'>
        <e-columns>
            <e-column field='taskID' headerText='Task ID' width='80' textAlign='Right'></e-column>
            <e-column field='taskName' headerText='Task Name' width='200'></e-column>
            <e-column field='startDate' headerText='Start Date' width='100' format="yMd" textAlign='Right'></e-column>
            <e-column field='duration' headerText='Duration' [filterBarTemplate]="templateOptions" width='90' textAlign='Right'></e-column>
        </e-columns>
    </ejs-treegrid>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-section">
                <div class="property-panel-header">Properties </div>
        <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
            <tr  style="height: 50px">
                <td style="width: 50%">
                    <div style="width: 100px">Hierarchy Mode</div>
                </td>
                <td style="width: 50%">
                    <div>
                            <ejs-dropdownlist #dropdown1 id='mode' width= '100px' [dataSource]='d1data' [fields]='fields1' value='Parent'(change)="change($event)"></ejs-dropdownlist>
                        </div>
                </td>
            </tr>
        </table>
    </div>
</div>
    